.notification {
    cursor: pointer;
    box-sizing: border-box;
    padding: 20px 10px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    animation: notice-in 0.5s ease;
}

@keyframes notice-in {
    0% {
        transform: translateX(110%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes notice-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(110%);
    }
}

.container {
    position: relative;
    box-sizing: border-box;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    max-height: calc(100vh - 20px);
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
